<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="extensions.js"></script>
    <script src="text.js" ></script>
    <script src="vertex.js" ></script>
    <script src="line.js" ></script>
    <script src="polygon.js" ></script>
    <script src="hcurve.js" ></script>
    <script src="frame.js" ></script>
    <script src="index.js" ></script>
  </head>
  <body>
    <div id="root">
        <label><input type="radio" name="selectstatus" value="before" >刨除前</label>
        <label><input type="radio" name="selectstatus" value="after" checked>刨除後</label>
        
        <input type="checkbox" id="showDiffLevel">顯示左右高低差
        <input type="checkbox" id="showSlope" checked>顯示假設完成面
        <input id="centerH"  value="0.0"/>中心高程差
        <input id="lh" value="0.0">左邊調整
        <input id="rh" value="0.0">右邊調整
        <button id="cal"> 計算</button>
        <p id="volume"></p>
        <canvas id="view" width="500px" height="500px"></canvas>
    </div>
  </body>
</html>
